body {
    background-color: #EFF9C4;
    display: flex;
    justify-content: center;  
    align-items: center;       
    height: 100vh;            
    margin: 0;             
}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}